<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusConnect : Blog Editor</title>

    <link rel="stylesheet" type="text/css" href="{%static 'blog/home.css' %}" />
    <link rel="stylesheet" type="text/css" href="{%static 'blog/editor.css' %}" />

</head>

<body>
    <form action="/blogs/editor" method="post" enctype="multipart/form-data">
        {{form.media}}
        {% csrf_token %}
        <div class="banner">
            <input hidden type='file' name='banner' id="banner-upload">
            <label for="banner-upload" class="banner-upload-btn"><img src="{%static 'blog/upload.png' %}"
                    alt="upload banner"></label>
        </div>
        <div class="blog">
            <input type="text" class="title" name="title" placeholder="Blog title..."></input>
            <input type="text" class="article" name="content" placeholder="Start writing here..."></input>
        </div>
        <div class="blog-options">
            <button class="btn dark publish-btn">publish</button>
        </div>
    </form>

    <script type="text/javascript" src="{%static 'blog/editor.js' %}"></script>
    
</body>

</html>