<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{%static 'shop/cart.css' %}"  />
    <link rel="stylesheet" type="text/css" href="{%static 'shop/index.css' %}"  />
    <script
      src="https://kit.fontawesome.com/a60ca36cd5.js"
      crossorigin="anonymous"
    ></script>
    <title>CampusConnect : Cart</title>
  </head>
  <body>
    <nav class="nav" id="toggle-collapse"></nav>
    <div class="cart-section">
      <div class="product-list">
        <p class="section-heading">your cart</p>
        <div class="cart" id="items">
        </div>
      </div>
      <div class="checkout-section">
        <div class="checkout-box">
          <p class="text">your total bill</p>
          <h1 class="bill"><span id="totalprice"></span>/- </h1>
          <a href="/checkout" class="checkout-btn">checkout</a>
        </div>
      </div>
    </div>

    <footer class="footer"></footer>

    <script type="text/javascript" src="{%static 'shop/footer.js' %}"></script>
    <script type="text/javascript" src="{%static 'shop/nav.js' %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>if (localStorage.getItem('cart') == null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
}

var sum = 0;
var totalprice = 0;
if ($.isEmptyObject(cart)) {
    mystr = `<p><img src="{%static 'shop/emptycart.jpeg' %}"/></p>`
    $('#items').append(mystr);
} else {
    for (var item in cart) {
        let name = cart[item][1];
        let qty = cart[item][0];
        let price = cart[item][2];
        sum = sum + qty;
        itemprice = qty * price;
        totalprice = totalprice + itemprice;
        mystr =`
        <div class="sn-product">
        <img
        {% if product.id == k %}
              src="{{product.images}}"
              alt=""
              class="sn-product-img"
            />
            {% endif %}
            <div class="sn-text">
              <p class="sn-product-name">${name}</p>
              <p class="sn-des"></p>
            </div>
            <div class="item-counter">
              <button class="counter-btn decrement" id="minus`+item+`">-</button>
              <p class="item-count" id="count">${qty}</p>
              <button class="counter-btn increment" id="plus`+item+`">+</button>
            </div>
            <p class="sn-price">${itemprice}/-</p>
            </div>`
        $('#items').append(mystr);
        }
    }

        $('.item-counter').on("click", "button.decrement", function() {
    a = this.id.slice(5, );
    cart[a][0] = cart[a][0] - 1;
    cart[a][0] = Math.max(0, cart[a][0]);
    localStorage.setItem('cart', JSON.stringify(cart));
    if ( cart[a][0] == 0){
    delete cart[a];
    localStorage.setItem('cart', JSON.stringify(cart));
    }
    window.location.reload();
   });
$('.item-counter').on("click", "button.increment", function() {
    a = this.id.slice(4, );
    console.log(a)
    cart[a][0] = cart[a][0] + 1;
    localStorage.setItem('cart', JSON.stringify(cart));
    window.location.reload();
});
document.getElementById('totalprice').innerHTML = totalprice;

</script>
  </body>
</html>
