<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{%static 'shop/checkout.css' %}"  />
    <link rel="stylesheet" type="text/css" href="{%static 'shop/index.css' %}"  />
    <link
      href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a60ca36cd5.js"
      crossorigin="anonymous"
    ></script>
    <style>.login-logout-popup{
  position: absolute;
  left: 89%;
  transform: translateX(-50%);
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  top: 5rem;
  width: 160px;
  transition: 0.5s;
  border: 2px solid #f5f5f5;
  z-index: 9;
}
.login-logout-popup::after{
  content: '';
  position: absolute;
  top: -7.5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 5px;
}
@media only screen and (max-width:750px)
{
  .login-logout-popup{
    top:25rem;
    left:10rem;
  }
}
</style>
    <title>CampusConnect:Checkout</title>
  </head>
  <body>
    <nav class="nav" id="toggle-collapse"></nav>

    <div class="alert-box">
      <img src="./img/error.png" alt="" class="alert-img"> 
      <p class="alert-msg"></p>
    </div>

    <div class="form">
      <h1 class="heading">Checkout</h1>
      <p class="text">Delivery Address</p>
      <input type="text" id="address" placeholder="Hostel name" />
      <input type="text" id="street" placeholder="Unit" />
      <div class="three-input-container">
        <input type="text" id="city" placeholder="city" />
        <input type="text" id="state" placeholder="state" />
        <input type="text" id="pincode" placeholder="pin code" />
      </div>
      <input type="text" id="landmark" placeholder="landmark" />
    </div>

    <div class="cart-section">
      <!-- <div class="product-list">
        <p class="section-heading">your cart</p>
        <div class="cart"></div> -->
      <!-- </div> -->
      <div class="checkout-section">
        <div class="checkout-box">
          <p class="text">your total bill</p>
          <h1 class="bill">{{total}}/-</h1>
         <button class="place-order-btn">Place order</button>
        </div>
      </div>
    </div>

    <footer class="footer"></footer>


    <script >function myFunction() {
  var nav = document.getElementById("toggle-collapse");
  if (nav.className === "nav") {
    nav.className += " collapse";
  } else {
    nav.className = "nav";
  }
}

const createNav = () => {
  const navbar = document.querySelector(".nav");
  navbar.innerHTML = ` <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="/" class="text-gray">CampusConnect</a>

            </div>
            <div class="toggle-collapse"  >
                <div class="toggle-icons">

                   <i class="fas fa-bars" style="color:white" onclick="myFunction()"></i>
                </div>
            </div>
            <div>
                <ul class="nav-items">
                    <li class="nav-link">
                        <a href="/">Home</a>
                    </li>
                <li class="nav-link">
                    <a href="/hoodies">Hoodies</a>
                </li>
                <li class="nav-link">
                    <a href="/tshirts">Tshirts</a>
                </li>
                <li class="nav-link">
                    <a href="/blogs">Blogs</a>
                </li>
                  <li class="nav-link">
                    <a href="/about Us">About us</a>
                </li>
                </ul>
            </div>
            <div class="social text-gray">
                <a href="#">
                <i class="far fa-user-circle" id="user-img" style="font-size:20px color:white"></i>
                <div class="login-logout-popup hide">
                {% if user.is_authenticated %}
                <p class="account-info">Logged in as , {{request.user}}</p>
                <a href="/logout"><button class="btn" id="user-btn">Log out</button></a>
                {% else %}
                <p class="account-info">Login to place order</p>
                <a href="/login"><button class="btn" id="user-btn">Login</button></a>
                {% endif %}
                </div>
                </a>
                <a href="/cart"><i class="fas fa-shopping-cart" style="font-size:20px color:white"></i></a>

            </div>
        </div>`;
};
createNav();

//nav popup
const userImageButton=document.querySelector('#user-img');
const userPop=document.querySelector('.login-logout-popup');
const popuptext=document.querySelector('.account-info');
const actionBtn=document.querySelector('#user-btn');

userImageButton.addEventListener('click',()=>{
    userPop.classList.toggle('hide');
})
</script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>>
   <script>const createFooter = () => {
  const footer = document.querySelector("footer");
  footer.innerHTML = `      <div class="footer-content">
        <img
          src="{%static 'shop/campusconnectlogo.jpg' %}"
          alt="img"
          class="site-logo"
        />
        <div class="footer-ul-container">
          <ul class="category">
            <li class="category-title"><a href="#">Blogs</a></li>
          </ul>
          <ul class="category">
            <li class="category-title"><a href="#">Tshirts</a></li>
          </ul>
          <ul class="category">
            <li class="category-title"><a href="#">Hoodies</a></li>
          </ul>
        </div>
        -
      </div>
      <p class="footer-title">about CampusConnect</p>
      <p class="info">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat
        tempore ad suscipit, eos eius quisquam sed optio nisi quaerat fugiat
        ratione et vero maxime praesentium, architecto minima reiciendis iste
        quo deserunt assumenda alias ducimus. Ullam odit maxime id voluptates
        rerum tenetur corporis laboriosam! Cum error ipsum laborum tempore in
        rerum necessitatibus nostrum nobis modi! Debitis adipisci illum nemo

      <p class="info">
        support emails - help@clothing.com, customersupport@clothing.com
      </p>
      <p class="info">telephone - 180 00 00 001, 180 00 00 002</p>
      <div class="footer-social-container">
        <div>
          <a href="" class="social-link"><i class="fab fa-instagram"></i></a>
          <a href="" class="social-link"><i class="fab fa-facebook"></i></a>
          <a href="" class="social-link"><i class="fab fa-discord"></i></a>
        </div>
      </div>
      <p class="footer-credit">
        | Copyright © 2021 CampusConnect.com | All Rights Reserved
      </p>`;
};
createFooter();
</script>
  </body>
</html>
