<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{%static 'shop/index.css' %}"  />
    <style>
  .login-logout-popup{
  position: absolute;
  left: 89%;
  transform: translateX(-50%);
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  top: 5rem;
  width: 160px;
  transition: 0.5s;
  border: 2px solid #f5f5f5;
  z-index: 9;
}
.login-logout-popup::after{
  content: '';
  position: absolute;
  top: -7.5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 5px;
}
@media only screen and (max-width:750px)
{
  .login-logout-popup{
    top:25rem;
    left:10rem;
  }
}</style>
    <script
      src="https://kit.fontawesome.com/a60ca36cd5.js"
      crossorigin="anonymous"
    ></script>
    <title>CampusConnect</title>
  </head>
  <body>
    <!-- ------------------Navigation Bar----------------- -->
    <nav class="nav" id="toggle-collapse"></nav>

    <!-- -------------------Hero Section------------------ -->
    <div class="container grid">
      <div class="header">
        <div class="title">CampusConnect</div>
      </div>
      <div class="choices">
        <div class="card">
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/71o1kVoV-+L._AC_UL160_SR160,160_.jpg"
            alt="img"
            srcset=""
          />
          <!-- <div class="card-content"> -->
          <h4><a href="#">Blogs</a></h4>
          <p>Read or contribute to our blogs</p>
          <!-- </div> -->
        </div>
        <div class="card">
          <img src="./img/poloandt-shirt.jpg" alt="img" srcset="" />
          <!-- <div class="card-content"> -->
          <h4><a href="#">Tshirts</a></h4>
          <p>Custom designed college tshirts</p>
          <!-- </div> -->
        </div>
        <div class="card">
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/71o1kVoV-+L._AC_UL160_SR160,160_.jpg"
            alt="img"
            srcset=""
          />
          <!-- <div class="card-content"> -->
          <h4><a href="#">Blogs</a></h4>
          <p>Read our blogs</p>
          <!-- </div> -->
        </div>
      </div>
    </div>

    <!-- -----------------------Footer------------------- -->

    <footer class="footer"></footer>
    <script >function myFunction() {
  var nav = document.getElementById("toggle-collapse");
  if (nav.className === "nav") {
    nav.className += " collapse";
  } else {
    nav.className = "nav";
  }
}

const createNav = () => {
  const navbar = document.querySelector(".nav");
  navbar.innerHTML = ` <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="/" class="text-gray">CampusConnect</a>

            </div>
            <div class="toggle-collapse"  >
                <div class="toggle-icons">

                   <i class="fas fa-bars" style="color:white" onclick="myFunction()"></i>
                </div>
            </div>
            <div>
                <ul class="nav-items">
                    <li class="nav-link">
                        <a href="/">Home</a>
                    </li>
                <li class="nav-link">
                    <a href="/hoodies">Hoodies</a>
                </li>
                <li class="nav-link">
                    <a href="/tshirts">Tshirts</a>
                </li>
                <li class="nav-link">
                    <a href="/blogs">Blogs</a>
                </li>
                  <li class="nav-link">
                    <a href="/about Us">About us</a>
                </li>
                </ul>
            </div>
            <div class="social text-gray">
                <a href="#">
                <i class="far fa-user-circle" id="user-img" style="font-size:20px color:white"></i>
                <div class="login-logout-popup hide">
                {% if user.is_authenticated %}
                <p class="account-info">Logged in as , {{request.user}}</p>
                <a href="/logout"><button class="btn" id="user-btn">Log out</button></a>
                {% else %}
                <p class="account-info">Login to place order</p>
                <a href="/login"><button class="btn" id="user-btn">Login</button></a>
                {% endif %}
                </div>
                </a>
                <a href="/cart"><i class="fas fa-shopping-cart" style="font-size:20px color:white"></i></a>

            </div>
        </div>`;
};
createNav();

//nav popup
const userImageButton=document.querySelector('#user-img');
const userPop=document.querySelector('.login-logout-popup');
const popuptext=document.querySelector('.account-info');
const actionBtn=document.querySelector('#user-btn');

userImageButton.addEventListener('click',()=>{
    userPop.classList.toggle('hide');
})
</script>
    <!-- <script src="./js/script.js"></script> -->
    <script type="text/javascript" src="{%static 'shop/footer.js' %}"></script>
  </body>
</html>
