section{
    margin: 0;
    padding: 0;
}
.abt-container{
    display: grid;
    grid-template-rows:auto auto;
    background: #ced4da;
    padding: 10px;
}
.abt-container .abt-section{
    width: 90vw;
    max-width: 1170px;
    margin:0.5rem auto;
    display: grid;
    gap: 1rem;
}
.abt-container .abt-section .abt-cards{
    background: #168aad;
    border-radius: 8px;
    padding: 3px 2px;
    box-shadow: 4px 8px 2px rgba(225,225,225,0.993);
}
/* .abt-container .abt-section .abt-cards img{
    height: 70px;
    width: 70px;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
} */
.abt-container .abt-cards img{
    width: 50%;
    padding: 5px 10px;
    margin: 0 auto;
}
